%*************************************
% level--->Trace log level
% 1: output into console
% 2: output into file
% other: don't output trace log
%*************************************
{level, 1}.

%*************************************
% log--->File of trace log output into
%*************************************
{log, "./logs/kvs.log"}.


%*************************************
% type--->data storage type
% 0: ets
% 1: dets
% 2: ets + dets
%*************************************
{type, 1}.


%*************************************
% path--->data storage directory
%*************************************
{path, "./data"}.


%*************************************
% output--->output directory
%*************************************
{output, "C:/SiteView/Solutions/app/Messaging/Input"}.