{width,900}.
{height,350}.
{threshold, 73}.
{margin,45}.
{week_texts, ["星期一","星期二","星期三","星期四","星期五","星期六","星期日"]}.


{title1, "ERP企业管理系统监控: 127.0.0.1(Windows): cpu综合使用率(%)"}.
{title2, "max:100  min:0  average:21.5"}.

{save_file, "test2.png"}.
%%{x_data_type, topN_text}.

%%{contrast_type, day}.

{input_data, ["memory-utilization.txt"]}.
%% {input_data, ["memory-utilization2.txt"]}.

{plot, plot2d}.
%% {plot, bar2d}.

{run_function, png}.
%%{run_function, eview}.

%%{trends_line, true}.

%% eplot_main:run(). 
