[Messages]
Version=1.000
-47600=Internal error. Details: %1 (entry point: %2).
-47599=HTTP error code %_1_ld: %2. Hint: Check the following URL in the Internet Browser: http://%3%4:%_5_ld%6 (entry point: %7).
-47598=The required file for monitor initialization does not exist (<Installation Root>\\dat\\monitors\\XMLMonitorShared.ini). Please consult installation instructions regarding this file.
-47597=Failed to initialize monitor. Details: %1.
-47596=General error. Exception was raised. Details: %1.
-47595=Failed to connect to server. Details: %1. Hint: Check that Web Server is up and running.
Msg_handler_lowest_msg=-47600
Msg_handler_highest_msg=-47595
