%*************************************
% level--->Trace log level
% 1: output into console
% 2: output into file
% other: don't output trace log
%*************************************
{level, 1}.

%*************************************
% log--->File of trace log output into
%*************************************
{log, "../logs/content_store.log"}.