{id,"FreeBSD"}.
{name,"FreeBSD"}.
{description,"FreeBSD - 3.x"}.
{disks,[{command,"/bin/df -k"},{mount,6},{name,1}]}.
{disk,[{command,"/bin/df -k <disk>"},{total,2},{free,4},{percentUsed,5}]}.
{memory,[{command,"/usr/sbin/swapinfo -k"},{total,2},{free,4},{swapUnit,1024},{startLine,2}]}.
{pageFault,[{command,"/usr/bin/vmstat -c 3 -w 2"},{inPageFaults,8},{outPageFaults,9},{units,"k/sec"},{pageSize,4096},{startLine,4}]}.
{cpu,[{command,"/usr/bin/vmstat -c 3 -w 2 -n 0"},{reverseLines,"true"},{idle,999},{endLine,3},{startLine,2}]}.
{process,[{command,"/bin/ps -ax"},{nameColumnName,"COMMAND"},{startLine,2}]}.
{processDetail,[{command,"/bin/ps -axl"},{nameColumnName,"COMMAND"},{sizeColumnName,"VSZ"},{startLine,2},{pageSize,1024}]}.
{serviceMonitor,[{command,"/bin/ps -ax -o vsz=MEMSIZE -o command=COMMAND"},{nameColumnName,"COMMAND"},{sizeColumnName,"MEMSIZE"},{pageSize,1},{startLine,2}]}.
{directory,[command,"/usr/bin/ls -A -1 -F"]}.
{filesize,[{command,"/usr/bin/ls -l <file>"},{size,5}]}.
{tail,[{command,"/usr/bin/tail -c +<bytes> <file>"}]}.
{fileExists,[{command,"/usr/bin/test -r <file>; echo $?"},{match,0}]}.
{fileList,[{command,"/usr/bin/ls -l <directory> | /usr/bin/grep -v \"^total\" | /usr/bin/grep -v \"^d\" | /usr/bin/sed 's/  */\!/g' | /usr/bin/cut -d\! -f5,9"}]}.

{fileListExtend,[{command,"/bin/ls    -laT <directory> | /usr/bin/grep -v \"^total\" | /usr/bin/grep -v \"^d\" | /usr/bin/sed 's/  */\\!/g' | /usr/bin/cut -d\! -f5,6,7,8,9,10"}]}.

{fileListExtendRecursive,[{command,"/bin/ls    -laT -R <directory> | /usr/bin/grep -v \"^total\" | /usr/bin/grep -v \"^d\" | /usr/bin/grep -v \"^/\" | /usr/bin/sed 's/  */\\!/g' | /usr/bin/cut -d\! -f5,6,7,8,9,10"}]}.

{directoryExists,[{command,"cd <directory>"}]}.

{systemTime,[{command,"echo ssDateStart; /bin/date -u +\"%m/%d/%Y %H:%M:%S\"; /bin/date +\"%m/%d/%Y %H:%M:%S\""}]}.

{catFile,[{command,"/usr/bin/cat <file>"}]}.

{echoLocale,[{command,"echo $LC_ALL"}]}.

{echoLang,[{command,"echo $LANG"}]}.

{echoShell,[{command,"basename `echo $SHELL`"}]}.

{classifyFiles,[{command,"command=/usr/bin/ls -A -1 -F"}]}.

{traceroute,[{command,"/usr/sbin/traceroute -m <hops>"}]}.

