{id,"HP"}.
{name,"HP/UX"}.
{description,"HP/UX"}.

{disks,[{command,"/usr/bin/df -kP"},{total,2},{mount,6},{name,1}]}.
{disk,[{command,"/usr/bin/df -kP <disk>"},{total,2},{free,4},{percentUsed,5}]}.

{memory,[{command,"/usr/sbin/swapinfo -ta"},{total,2},{swapUnit,1024},{free,4},{matchLine,"^total"}]}.

{physicalmemory,[{command,"/usr/bin/echo \"physmem/D\" | /usr/bin/adb /stand/vmunix /dev/kmem | /usr/bin/tail -n 1"},{memoryMatch,"physmem:"}]}.

{pageFault,[{command,"/usr/bin/vmstat -s"},{pageFaults,1},{matchLine,"pages paged"}]}.
{cpu,[{command,"/usr/sbin/sar 3"},{startLine,3},{idle,5},{wait,4}]}.

{process,[{command,"/usr/bin/ps -ef"},{nameColumnName,"COMMAND"},{startLine,2}]}.

{processDetail,[{command,"/usr/bin/ps -el"},{nameColumnName,"COMD"},{sizeColumnName,"SZ"},{startLine,2},{pageSize,4096}]}.

{serviceMonitor,[{command,"/bin/ps -e -o vsz=MEMSIZE -o args=COMMAND"},{nameColumnName,"COMMAND"},{sizeColumnName,"MEMSIZE"},{pageSize,1024},{startLine,2}]}.
{proc,[{command,"/usr/bin/ps -ef"},{nameColumnName,"COMMAND"},{userColumnName,"UID"}]}.

{vmstat,[{command,"/usr/bin/vmstat 2 2"},{memorySwap,4},{memoryFree,5},{cpuUser,20},{cpuSystem,21},{startLine,4}]}.

{platform,[{command,"/usr/bin/model"}]}.
{version,[{command,"/usr/bin/uname -a"},{singleLine,true}]}.
{address,[{command,"/usr/sbin/lanscan -a"},{addressMatch,"0x"}]}.
{physicalmemory,[{command,"/bin/cat /proc/meminfo"},{memoryMatch,"MemTotal:"}]}.
{processor,[{command,"/usr/bin/echo \"itick_per_tick/D\" | /usr/bin/adb /stand/vmunix /dev/kmem | /usr/bin/tail -n 1"},{speedMatch,"itick_per_tick:"}]}.
{processors,[{command,"/usr/sbin/ioscan -k"},{match,"processor"}]}.

{bootprom,[{command,"/usr/bin/uname -i"}]}. %??

{config,[{command,"/usr/sbin/prtconf"},{memoryMatch,"Memory size:"}]}.

{package,[{command,"/usr/sbin/swlist -l bundle"},{nameColumn,1},{versColumn,2}]}. %??

{patch,[{command,"/usr/sbin/swlist | /usr/bin/grep \"PH\""},{matchPrefix,"PH"}]}.

{nic,[{command,"/usr/bin/netstat -i -n"},{startLine,2},{name,1},{address,4}]}.

{nicHost,[{command,"/usr/bin/netstat -i"},{startLine,2},{name,1},{host,4}]}.
{directory,[{command,"/usr/bin/ls -A -1 -p"}]}.

{directoryExists,[{command,"/usr/bin/cd <directory>"}]}.
{fileListExtend,[{command,"/usr/bin/ls -l <directory> | /usr/bin/grep -v \"^total\" | /usr/bin/grep -v \"^d\" | /usr/bin/sed 's/  */!/g' | /usr/bin/cut -d\! -f5,6,7,8,9"}]}.
{getPPID,[{command,"/usr/bin/ps -fp <pid> | awk 'NR == 2 {print $3}'"}]}.
{getSH,[{command,"/bin/sh"}]}.

{fileListExtendRecursive,[{command,"/usr/bin/ls -l -R <directory> | /usr/bin/grep -v \"^total\" | /usr/bin/grep -v \"^d\" | /usr/bin/grep -v \"^/\" | /usr/bin/sed 's/  */!/g' | /usr/bin/cut -d\! -f5,6,7,8,9"}]}.

{network,[{command,"/usr/bin/netstat -s"},{packetsReceivedMatch,"ipInReceives"},{packetsSentMatch,"ipOutRequests"},{bytesSentMatch,"tcpOutDataBytes"},{bytesReceivedMatch,"tcpInInorderBytes "}]}.

{paging,[{command,"/usr/sbin/swap -l"},{blocks,4},{free,5},{startLine,2},{blockSize,512}]}.
{filesize,[{command,"/usr/bin/ls -l <file>"},{size,5}]}.
{echoLocale,[{command,"echo $LC_ALL"}]}.
{echoLang,[{command,"echo $LANG"}]}.
{echoShell,[{command,"basename `echo $SHELL`"}]}.
{classifyFiles,[{command,"/usr/bin/ls -F -1 -p"}]}.

{catFile,[{command,"/usr/bin/cat <file>"}]}.

{tail,[{command,"/usr/bin/tail -c +<bytes> <file>"}]}.
{fileExists,[{command,"/usr/bin/test -r <file>; echo $?"},{match,"0"}]}.
{traceroute,[{command,"/usr/contrib/bin/traceroute -m <hops>"}]}.
{fileList,[{command,"/usr/bin/ls -l <directory> | /usr/bin/grep -v \"^total\" | /usr/bin/grep -v \"^d\" | /usr/bin/sed 's/  */!/g' | /usr/bin/cut -d\! -f5,9"}]}.

{systemTime,[{command,"/usr/bin/date -u +\"%m/%d/%Y %H:%M:%S\"; /usr/bin/date +\"%m/%d/%Y %H:%M:%S\""}]}.