{id,"OPENSERVER"}.
{name,"OPENSERVER"}.
{description,"OPENSERVER"}.
{disks,[{command,"/bin/df -P"},{mount,6},{name,1}]}.
{disk,[{command,"/bin/df -P <disk>"},{total,4},{free,3},{percentUsed,5},{startLine,2}]}.
{memory,[{command,"/etc/swap -l"},{total,4},{free,5},{startLine,2},{swapUnit,1024}]}.
{pageFault,[{command,"/usr/bin/vmstat -s"},{pageFaults,1},{matchLine,"pages paged"}]}.
{cpu,[{command,"/usr/bin/vmstat"},{startline,3},{idle,20}]}.
{process,[{command,"ps -ef"},{nameColumnName,"CMD"},{startLine,2}]}.
{processDetail,[{command,"ps -el"},{nameColumnName,"CMD"},{sizeColumnName,"SZ"},{headerLine,1},{startLine,2}]}.
{serviceMonitor,[{command,"/bin/ps -e -o vsz=MEMSIZE -o args=COMMAND"},{nameColumnName,"COMMAND"},{sizeColumnName,"MEMSIZE"},{pageSize,1024},{startLine,2}]}.
{filesize,[{command,"/usr/bin/ls -l <file>"},{size,5}]}.
{tail,[{command,"/usr/bin/tail -c +<bytes> <file>"}]}.
{fileExists,[{command,"/usr/bin/test -r <file>; echo $?"},{match,0}]}.
{fileList,[{command,"/bin/ls -l <directory> | /bin/grep -v \"^total\" | /usr/bin/grep -v \"^d\" | /bin/sed 's/  */!/g' | /bin/cut -d\! -f5,9"}]}.

{fileListExtend,[{command,"/bin/ls    -lT <directory> | /bin/grep -v \"^total\" | /bin/grep -v \"^d\" |  /bin/sed 's/  */!/g' | /usr/bin/cut -d\! -f5,6,7,8,9,10"}]}.

{fileListExtendRecursive,[{command,"/bin/ls    -lT -R <directory> | /bin/grep -v \"^total\" |  /bin/grep -v \"^d\" | /bin/grep -v \"^/\" | /bin/sed 's/  */!/g' | /usr/bin/cut -d\! -f5,6,7,8,9,10"}]}.

{directoryExists,[{command,"cd <directory>"}]}.

{systemTime,[{command,"echo ssDateStart; /bin/date -u +\"%m/%d/%Y %H:%M:%S\"; /bin/date +\"%m/%d/%Y %H:%M:%S\""}]}.

{catFile,[{command,"/usr/bin/cat <file>"}]}.

{echoLocale,[{command,"echo $LC_ALL"}]}.

{echoLang,[{command,"echo $LANG"}]}.

{echoShell,[{command,"basename `echo $SHELL`"}]}.

{classifyFiles,[{command,"command=/usr/bin/ls -F -1"}]}.

{traceroute,[{command,"/usr/sbin/traceroute -m <hops>"}]}.