{id,"Sun"}.
{name,"Sun Solaris"}.
{disks,[{command,"/usr/bin/df -k"},{total,2},{free,4},{percentUsed,5},{used,3},{startLine,2},{mount,6},{name,1}]}.
{disk,[{command,"/usr/bin/df -k <disk>"},{total,2},{free,4},{percentUsed,5}]}.
{memory,[{command,"/usr/sbin/swap -s"},{used,9},{free,11},{swapUnit,1024}]}.
{pageFault,[{command,"/usr/bin/vmstat -s"},{pageFaults,1},{matchLine,"pages paged"}]}.
{cpu,[{command,"/usr/bin/mpstat 3 1"},{endMatch,"^CPU"},{idle,16},{wait,15},{reverseLines,"true"},{startLine,1}]}.
{process,[{command,"/usr/bin/ps -ef"},{nameColumnName,"CMD"},{startLine,2},{headerLine,1}]}.
{processDetail,[{command,"/usr/bin/ps -el"},{nameColumnName,"CMD"},{sizeColumnName,"SZ"},{startLine,2},{headerLine,1}]}.
{serviceMonitor,[{command,"/usr/bin/ps -e -o vsz=MEMSIZE -o args=COMMAND"},{nameColumnName,"COMMAND"},{sizeColumnName,"MEMSIZE"},{headerLine,1},{pageSize,1024},{startLine,2}]}.
{directory,[{command,"/usr/bin/ls -A -1 -p"}]}.
{vmstat,[{command,"/usr/bin/vmstat 2 2"},{memorySwap,4},{memoryFree,5},{memoryFree,20},{cpuSystem,21},{startLine,4}]}.
{network,[{command,"/usr/bin/netstat -s"},{packetsReceivedMatch,"ipInReceives"},{packetsSentMatch,"ipOutRequests"},{bytesSentMatch,"tcpOutDataBytes"},{bytesReceivedMatch,"tcpInInorderBytes"}]}.

{paging,[{command,"/usr/sbin/swap -l"},{blacks,4},{free,5},{startLine,2},{blockSize,512}]}.
{processor,[{command,"/usr/sbin/psrinfo -v"},{speedMatch,"operates at"},{typeMatch,"The"}]}.
{platform,[{command,"/usr/bin/uname -i"}]}.
{version,[{command,"/usr/bin/uname -X"}]}.
{config,[{command,"/usr/sbin/prtconf"},{memoryMatch,"Memory size:"}]}.
{bootprom,[{command,"/usr/sbin/prtconf -V"}]}.
{address,[{command,"/usr/sbin/ifconfig -a"},{addressMatch,"ether"}]}.
{package,[{command,"/usr/bin/pkginfo -i -l"},{nameMatch,"PKGINST"},{descMatch,"NAME"},{versMatch,"VERSION"}]}.
{proc,[{command,"/usr/bin/ps -e -o user -o fname"},{nameColumnName,"COMMAND"},{userColumnName,"USER"},{startLine,2}]}.
{patch,[{command,"/usr/bin/showrev -p"},{match,"Patch:"}]}.
{nic,[{command,"/usr/bin/netstat -i -n"},{startLine,2},{name,1},{address,4}]}.
{nicHost,[{command,"/usr/bin/netstat -i"},{startLine,2},{name,1},{host,4}]}.

{getPPID,[{command,"/usr/bin/ps -fp <pid> | awk 'NR == 2 {print $3}'"}]}.

{getSH,[{command,"/bin/sh"}]}.


{fileListExtend,[{command,"/bin/ls    -l <directory> | /bin/grep -v \"^total\" | /bin/grep -v \"^d\" | /bin/sed 's/  */!/g' | /bin/cut -d\! -f5,6,7,8,9"}]}.

{fileListExtendRecursive,[{command,"/bin/ls    -l -R <directory> | /bin/grep -v \"^total\" | /bin/grep -v \"^d\" | /bin/grep -v \"^/\" | /bin/sed 's/  */!/g' | /bin/cut -d\! -f5,6,7,8,9"}]}.

{directoryExists,[{command,"cd <directory>"}]}.

{echoLocale,[{command,"echo $LC_ALL"}]}.

{echoLang,[{command,"echo $LANG"}]}.

{echoShell,[{command,"basename `echo $SHELL`"}]}.

{classifyFiles,[{command,"command=/usr/bin/ls -F -1 -p"}]}.

{traceroute,[{command,"/usr/sbin/traceroute -m <hops>"}]}.

{filesize,[{command,"/usr/bin/ls -l <file>"},{size,5}]}.
{tail,[{command,"/usr/bin/tail +<bytes>c <file>"}]}.
{fileExists,[{command,"/usr/bin/test -r <file>; echo $?"},{changeDirectory,"cd"},{match,0}]}.
{fileList,[{command,"/usr/bin/ls -l <directory> | /usr/bin/grep -v \"^total\" | /usr/bin/grep -v \"^d\" | /usr/bin/sed 's/  */!/g' | /usr/bin/cut -d\! -f5,9"}]}.
                

{systemTime,[{command,"echo ssDateStart; /usr/bin/date -u +\"%m/%d/%Y %H:%M:%S\"; /usr/bin/date +\"%m/%d/%Y %H:%M:%S\""}]}.


{catFile,[{command,"/usr/bin/cat <file>"}]}.


{siebelprocesses,[{command,"/usr/bin/date '+siebTime=%m/%d/%y %H:%M:%S'; /usr/bin/ps -e -o pid=PID -o time=CPU -o vsz=MEM -o comm=NAME | /usr/bin/grep sieb"}]}.

{match,[{command,"/usr/bin/tail +<offset>c <file> | iconv -f<encoding> -tUTF-8 | perl -e '$lines=0; @arr = <STDIN>; if(\"<multiline>\") { @arr = ( join(\"\", @arr)) } ; foreach $line(@arr) { if((\"<regexp>\" and $line =~ /<contentmatch>/) or index($line, \"<contentmatch>\") >=0 ) { $lines = $lines + 1; if(\"<regexp>\") { @groups=($1,$2,$3,$4) }}} print \"$lines\n\"; $\"= \"\n\"; print \"@groups\"'"}]}.
