{ping, [{hostname, "192.168.0.1"}, {timeout, 60}, {size, 64}, {result, 100.0}]}.
{disk_monitor, [{machine,"\\127.0.0.1"}, {disk, "C"}, {result, 0}]}.
{disk_monitor_linux, [{machine,"192.168.0.44"}, {disk, "/dev/hda1"}, {result, 0}]}.
{snmp_monitor_v1, [{host, "192.168.0.251"}, {oid, "1.3.6.1.2.1.1.3"}, {oidIndex,0},{community,"public1"},{timeout,5},{snmpversion,"v1"},{percentageBase,"no"},{snmpv3user,[]},{snmpv3passwd,[]},{result, 0}]}.
{snmp_monitor_v1, [{host, "192.168.0.251"}, {oid, "1.3.6.1.2.1.1.3"}, {oidIndex,0},{community,"public1"},{timeout,5},{snmpversion,"v2"},{percentageBase,"no"},{snmpv3user,[]},{snmpv3passwd,[]},{result, 0}]}.
{snmp_monitor_v3, [{host, "192.168.0.251"}, {oid, "1.3.6.1.2.1.1.3"}, {oidIndex,0},{community,"public1"},{timeout,5},{snmpversion,"v3"},{percentageBase,"no"},{snmpv3user,[]},{snmpv3passwd,[]},{result, 0}]}.
{browsable_snmp_monitor_v1, [{server, "192.168.0.251"}, {community,"public1"},{timeout,5},{snmpversion,"v1"},{browse,[{"1.3.6.1.2.1.1.3","mgmt/mib-2/system/sysUpTime"}]},{result, 0}]}.
{browsable_snmp_monitor_v2, [{server, "192.168.0.251"}, {community,"public1"},{timeout,5},{snmpversion,"v2"},{browse,[{"1.3.6.1.2.1.1.3","mgmt/mib-2/system/sysUpTime"}]},{result, 0}]}.
{browsable_snmp_monitor_v3, [{server, "192.168.0.251"}, {timeout,5},{snmpversion,"v3"},{snmpv3authtype,"MD5"},{snmpv3username,""},{snmpv3authpassword,""},{snmpv3privpassword,""},{contextEngineID,""},{contextName,""},{browse,[{"1.3.6.1.2.1.1.3","mgmt/mib-2/system/sysUpTime"}]},{result, 0}]}.
